.footer {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}